{% extends 'bases/main_base.html' %}

{% block title %} Add item store {% endblock %}

{% block content %}
<div class="container">
    <!--  Project Proposals  -->
    <div class="row">
    <div class="span12"><h3 class='up_item'>Step1: Upload Your Art!</h3></div>
    </div>
    <div class="row">
    <div class="span6">
        <form action="." method="POST" id="IdfrmAddItem" name="frmAddItem" class="form-horizontal" enctype='multipart/form-data'>
        {% csrf_token %}
        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}
        {% if  idItem %}
            <input type="hidden" name="idItem" value="{{idItem}}">
        {% endif %}
        <fieldset>
              <legend>Art information</legend>
          </fieldset>  
          {{objForm.as_p}}
        <p>
            {% if msg == "" %}
                <input type="submit" name="addItem" value="Update">
            {% else %}
                <input type="submit" name="addItem" value="Submit my Work"class="edit">
            {% endif %} 
            
        </p>
        </form>
    </div>
    <div class="span4 offset1 upload-txt">
        <P>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra lorem et ante tincidunt et lobortis odio cursus. Duis quis tellus eu nunc tincidunt convallis.
        </P>
        <p>Suspendisse interdum, nibh a fermentum sodales, lectus mi interdum odio, in adipiscing velit nisi at risus. Phasellus ut erat ac augue mollis convallis. Proin varius pulvinar velit in sagittis.</p>
        <P>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra lorem et ante tincidunt et lobortis odio cursus. Duis quis tellus eu nunc tincidunt convallis.
        </P>
    </div>
    </div>
    
</div><!--End Container-->

{% endblock content %}



