{% extends 'bases/main_base.html' %}

{% block title %} New Proposal {% endblock %}

{% block content %}
<div class="container">
        <div id="cont_breadcrumb" class="row">
            <div class="span12">
                <ul class="breadcrumb">
                  <li><a href=" {% url main_view %} ">Home</a> <span class="divider">/</span></li>
                  <li><a href=" {% url all_contest_view %} ">All Contests</a> <span class="divider">/</span></li>
                  <li><a href=" {% url contest_details_view objContest.id  %} ">Contest Details</a> <span class="divider">/</span></li>
                  <li class="active" >Add your proposal</li>
                </ul>
            </div>
        </div>
        <!--  Project Proposals  -->
        <h3 class="span12">Upload your design</h3>
        <div class="row upload">
        <div class="span7">
            <div class="img-project">
             <img src="/media/{{objContest.logo}}" alt="{{objContest.name}}">   
            </div>
            <div class="project-desc">
                <h4>{{objContest.name}}</h4>
                <span>{{objContest.user.username}}</span>
                <p>     {% autoescape off %}
                        {{objContest.description}}
                        {% endautoescape %}
                </p>
            </div>
        </div><!--end span6-->
        <div class="span4">
			<form id="frmNewProposal" method='post' action="." class="form-horizontal" enctype='multipart/form-data'>
				{% csrf_token %}
				{{form_Proposal.as_p}}
				<p>
					<input class='upload-files' type="submit" value="Upload" >
				</p>
			</form>
    </div><!--end row-->
</div><!--End Container-->

{% endblock content %}



