{% extends 'bases/main_base.html' %}

{% block title %} Contact Form {% endblock %}

{% block content %}
<div class="container">
	<div class="row steps-str">
        <div class="span4 step1"><h4 class=''><span>Step1: Art information</span></h4></div>
        <div class="span4 step2"><h4 class=''><span>Step2: Upload Original Work</span></h4></div>
        <div class="span4 step3"><h3 class='up_item'><span>Step 3: Review and submit.</span></h3></div>
    </div>

        <div class="row">
            <div class="span12">
                <h3 class="">Thank you {{user.First_Name}} your art is now in the store!</h3>     <!--  Project Full Details  -->
            </div>
        </div>
               <div class="row border-top">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed lectus libero, sed pharetra metus. Morbi quis condimentum dui. Ut id nisi sapien. Quisque sit amet posuere nibh. Aliquam sed neque a diam dictum egestas semper sit amet magna.
                    </p>
                </div>
                <div class="row">
	                               
                       <a class="cont-shopping5" href="{% url my_store_view %}">Go to Profile</a>
	                   <a class="cont-shopping5" href="{% url store_view %}">Go to Store</a>
	                
            	</div>
    </div>
</div>
{% endblock content %}