{% extends 'bases/main_base.html' %}

{% block title %} Contact Form {% endblock %}

{% block content %}
<div class="container">
	<div class="row steps-str">
        <div class="span4 step1"><h4 class=''><span>Step1: Art information</span></h4></div>
        <div class="span4 step2"><h4 class=''><span>Step2: Upload Original Work</span></h4></div>
        <div class="span4 step3"><h3 class='up_item'><span>Step 3: Review and submit.</span></h3></div>
    </div>

        <div class="row">
            <div class="span12">
                <h3>
                    You are done! Your art is now posted for sale in the store! <br>     <!--  Project Full Details  -->
                    Thank you for choosing VIVILOX!
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h4>Where would you like to go now?</h4>
                <a class="cont-shopping5" href="{% url store_add_item_view %}">Post More Art</a>
                <a class="cont-shopping5" href="{% url store_view %}">STORE</a>
                <a class="cont-shopping5" href="{% url all_contest_view %}">CONTESTS</a>
    	   </div>
        </div>
</div>
{% endblock content %}