{% extends "bases/main_base.html" %}

{% block title %} Artist Profile {% endblock %}

{% block content %}

{% load thumbnail %}
<div class="container">
    <br>
	<div class="row">
		<div class="span3 user">
            <div class="user-info">
                <a id="edit_profile" href=" {% url edit_profile_view %} ">edit</a>
	            <div class="image-user">
	                {% if profile.image %}
                        {% thumbnail profile.image "72x48" crop="50% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% endthumbnail %}  
                    {% else %}
                         <img src="{{ MEDIA_URL }}img/user-image.jpg" />
                    {% endif %}
                </div>
	            <div class="user-text">
	                <h4>{{user.get_full_name}}</h4>
	                <span>Client</span><br />
	                <a class="contact" href="#">{{user.email}}</a>
                    <br>
                </div>
            </div>
            <div class="listing">
                <ul id="profile_menu">
                    <li><a class="submissions item_menu" href="#my_contests">My Contest</a></li>
                    <li><a class="purchased item_menu" href="#my_purchased">Purchased Images</a></li>
                    <li><a class="notifications " href="{% url feedback_view %}">Private messages
</a></li>
                </ul>
            </div>
        </div><!--Span3 ENd-->
        <div class="span8">
        <!-- ** Contest ** -->
            <div class="cont_info_profile" id="my_contests">
                {% for contest in contests %}
                    <div class="cont_info_profile project-list" >
                        <div class="project-thumb-img span6">
                            <a href="" class="thumb-link">
                            {% thumbnail contest.logo "95x95" crop="50% center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endthumbnail %}  
                            </a>
                            <div class="list-description">
                                <h3>{{ contest.name }}</h3>
                                <p>{% autoescape off %}{{ contest.description|truncatewords_html:25 }}{% endautoescape %}</p>
                                <a class="view-project" href="{% url contest_details_view contest.id  %}">View Project</a>
                            </div>
                        </div>
                        <div class="time-left span2">
                            <span class="time-icon">9 days</span>

                        </div>
                    </div><!--End COntest list-->
                {% empty %}
                    <h1>No proposal</h1> 
                {% endfor %}
            </div>
        <!-- ** Purchased ** -->
            <div style="display:none;" class="cont_info_profile" id="my_purchased">
                {% for p in purchased  %}
                    <div class="items first">
                        <div class="previewimage">
                            {% thumbnail p.item.image_sample "81x61" crop="50% center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endthumbnail %} 
                        </div>
                        <div class="details">
                            <strong>{{ p.item.title }}</strong><br />
                            <span>Price ${{ p.item.price|floatformat:2 }}</span><br>
                            <span>Date purchase: {{ p.date|date:"M d, Y" }} </span>
                        </div>
                        <div class="download-prod">
                            <a class="download-files" href="#">Download</a>
                        </div>
                    </div>
                {% empty %}
                    <h1>No purchased items</h1>
                {% endfor %}
            </div>
        <!-- ** my_notifications ** -->
            <div style="display:none;" class="cont_info_profile" id="my_notifications">
               
                {% for f in feedback %}
                    {% thumbnail f.sender.profile.image "50x50" crop="50% center" as im %}
                        {% if f.sender.id == user.id %}
                            <img class="img_sender_perfil" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% else %}
                            <img class="img_sender_otros" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% endif %}
                    {% empty %} 
                        <img src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" > 
                    {% endthumbnail %} 
                    <p>{{f.message}}</p>
                    <div class="cont_links_comments">
                        <a class="not_reply" href="{% url feedback_add f.client.id,f.artist.id,f.contest.id,f.proposal.id %}" title="">Reply</a>
                        <a class="not_delete" href="{% url feedback_delete_view f.id %}" title="">Delete</a>
                    </div>
                    <hr>
                {% empty %}
                    <h1>No notifications</h1> 
                {% endfor %}

            </div>

    	</div><!--End span8-->
	</div>
</div>
{% endblock %}

{% block footer_extrajs%}
<script type="text/javascript">
$(document).ready(function(){
    $(".item_menu").on("click",function(e){
        e.preventDefault();
        var div = $(this).attr("href");
        $(".span8 > div").hide();
        $(div).show();
    });
});
</script>


{% endblock %}
