{% extends "bases/main_base.html" %}

{% block title %} View All Contests {% endblock %}

{% block content %}
{% load watermark %}
{% load thumbnail %}


<div class="container">
    <div id="cont_breadcrumb" class="row">
        <div class="span12">
            <ul class="breadcrumb">
              <li><a href=" {% url main_view %} ">Home</a> <span class="divider">/</span></li>
              <li><a href=" {% url all_contest_view %} ">All Contests</a> <span class="divider">/</span></li>
              <li><a href="{% url contest_details_view proposal.contest.id %}">Contests Details</a> <span class="divider">/</span></li>
              <li class="active">Proposal Details</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            {% if proposal.discarded %}
               <h4 class="status_discarted"><span class="label">You have discarded this proposal</span></h4>
            {% endif %}
        </div>
    </div>
	<div class="row">
		<h3 class="span6">{{ proposal.title}}</h3>
		<h3 class="span3">{{ proposal.date}}</h3>
		<h3 class="span3">{{proposal.user.first_name}} {{proposal.user.last_name}} </h3>
    </div>

    <div class="row">
    	<div class="span5">
        {# |watermark:'discard,position=C,greyscale=1,opacity=100'  #}
        {# |watermark:'viviloxmark,position=C,opacity=100'  #}
        {% if proposal.discarded %}
            {% thumbnail proposal.resource "460x320" colorspace="GRAY"  crop="center" as im %}
                <img src="{{ im.url|watermark:'discard,position=C,opacity=100' }}" upscale width="{{ im.width }}" height="{{ im.height }}" alt="{{proposal.title}}">
            {% empty %}
                <img src="{{ MEDIA_URL }}no_logo.jpg" alt="">
            {% endthumbnail %}
        {% else %}
            {% thumbnail proposal.resource "460x320"  crop="center" as im %}
                <img src="{{ im.url|watermark:'viviloxmark,scale=0.9,position=C' }}" upscale width="{{ im.width }}" height="{{ im.height }}" alt="{{proposal.title}}">
            {% empty %}
                <img src="{{ MEDIA_URL }}no_logo.jpg" alt="">
            {% endthumbnail %}
        {% endif %}
        </div>
    	<div class="span4">
    		{% autoescape off %}
    			<p>{{ proposal.comment }}</p>
    		{% endautoescape %}
    	</div>
    	<div class="span3">
            {% if not proposal.discarded and user.profile.user_type == "1" %}
                <a id="btn_discard" class="" href="{% url proposal_discard_view proposal.id %}">Discard Proposal</a>
            {% endif %}
    		<br>
    		<a id="btn_feedback" class="" href="#">Hide feedback</a>
            <br>
    	</div>
    </div>

    <div id="cont_feedback"  class="row">
    	<div id="feedback_box" class="span9">
    		{% for f in feedback %}
                <div clas="feedback_proposal_container">
                {% if f.sender.profile.image %}    
                        {% thumbnail f.sender.profile.image "50x50" crop="50% center" as im %}
                            {% if f.sender.id == user.id %}
                                <img class="img_sender_perfil" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% else %}
                                <img class="img_sender_otros" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endif %}
                        {% endthumbnail %} 
                {% else %}
                        {% if f.sender.id == user.id %}
                           <img class="img_sender_perfil" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" >
                        {% else %}
                           <img class="img_sender_otros" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" > 
                        {% endif %}
                {% endif %}
                {% autoescape off %}

                        <p><span class="feedback_username">{{ f.sender.username }}</span> {{f.feedback}}</p>
                {% endautoescape %}
                </div>
            {% endfor %}
    	</div>
    	<div class="span3">
    		<div style="" id="form_feedback">
    			{% if  not proposal.discarded  %}
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{fFeedback.as_p}}
                        <input type="submit" value="Submit" class="feedback">
                    </form>                    
                {% endif %}
                
    		</div>	
    	</div>
    </div>
</div>

{% endblock %}

{% block footer_extrajs %}
	<script type="text/javascript">
		$(document).on("ready",function(){
			$("#btn_feedback").on("click",function(e){
               e.preventDefault();
				var btn = $(this);
                $("#cont_feedback").toggle("slow",function(){
                    $("#id_comment").focus();
                    var texto = btn.text();
                    if( texto == "View feedback" ){
                        btn.text("Hide feedback");
                    }else{
                        btn.text("View feedback");
                    }

                });
			});
		});

	</script>


{% endblock footer_extrajs %}