{% extends "bases/main_base.html" %}

{% block title %} Artist Profile {% endblock %}

{% block content %}

{% load thumbnail %}
<div class="container">
    <br>
	<div class="row">
		<div class="span3 user">
		    <div class="user-info">
                <a id="edit_profile" href=" {% url edit_profile_view %} ">edit</a>
	            <div class="image-user">
	                {% if user.profile.image %}
                        {% thumbnail user.profile.image "72x48" crop="50% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% endthumbnail %}  
                    {% else %}
                         <img src="{{ MEDIA_URL }}img/user-image.jpg" />
                    {% endif %}
                </div>
	            <div class="user-text">
	                <h4>{{user.get_full_name}}</h4>
                    <span>
                    {% if user.profile.user_type == "1"%}
                        Client
                    {% elif user.profile.user_type == "2" %}
                        Artist
                    {% else %}
                        Admin
                    {% endif %}    
                    </span><br />
	                <a class="contact" href="#">{{user.email}}</a>
                    <br>
                </div>
            </div>
            <div class="listing">
                <ul id="profile_menu">
                    {% if user.profile.user_type == "2" %}
                        <li><a class="store item_menu" href="{% url my_store_view %}">My Store</a></li>                        
                        <li><a class="submissions item_menu " href="{% url profile_contest %}">My Submissions</a></li>
                        <li><a class="notifications item_menu active_link" href="{% url feedback_view %}">Private messages</a></li>  
                        <li><a class="purchased item_menu " href="{% url purchased_images_view %}">Purchased Images</a></li>                </ul>
                    {% else %}
                        <li><a class="submissions item_menu" href=" {% url profile_contest %}">My Contest</a></li>
                        <li><a class="purchased item_menu" href="{% url purchased_images_view %}">Purchased Images</a></li>
                        <li><a class="notifications item_menu active_link" href="">Private messages</a></li>
                    {% endif %}
                   
                </ul>
            </div>
        </div><!--Span3 ENd-->
        <div class="span8">
        	<div id="cont_contest">
        		<form class="form-inline" name="frmContest" method="post" action=".">
        			{% csrf_token %}
        			<select id="select_contest" class="span2"  name="idContest">
        				<option value="0">All Contests</option>
        				{% for c in contests  %}
        					<option value="{{c.id}}">{{c.name}}</option>
        				{% endfor %}
        			</select>
        			<input class="btn" type="submit" value="Filter">
        		</form>
        	</div>
            <!-- ** my_notifications ** -->
            <ul class="tabs"> 
                <li><a href="#tab1">Contest</a></li> 
                <li><a href="#tab2">Proposals</a></li> 
            </ul> 
            <div class="tab_container"> 
            
            <div id="tab1" class="tab_content"> <!--Content--> 
            <div style="" class="cont_info_profile" id="my_notifications">
                {% for f in fdb %}
                    {% if f.sender.profile.image %}    
	                    {% thumbnail f.sender.profile.image "50x50" crop="50% center" as im %}
	                        {% if f.sender.id == user.id %}
	                            <img class="img_sender_perfil" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
	                        {% else %}
	                            <img class="img_sender_otros" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
	                        {% endif %}
	                    {% endthumbnail %} 
	                {% else %}
	            		{% if f.sender.id == user.id %}
	                       <img class="img_sender_perfil" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" >
	                    {% else %}
	                       <img class="img_sender_otros" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" > 
	                    {% endif %}
	                {% endif %}
                    {% autoescape off %}
                        <p>{{f.message}}</p>
                    {% endautoescape %}
                    <div class="cont_links_comments">
                        <a class="not_reply" href="{% url feedback_add f.client.id,f.artist.id,f.contest.id,f.proposal.id %}" title="">Reply</a>
                        <a class="not_delete" href="{% url feedback_delete_view f.id %}" title="">Delete</a>
                    	<a class="not_view-project" href="{% url contest_details_view f.contest.id  %}">{{f.contest.name}}</a>
                    </div>
                    <div class="form_reply">
                        {# f.client.id,f.artist.id,f.contest.id,f.proposal.id #}
                        <form action="{% url feedback_add f.client.id,f.artist.id,f.contest.id,f.proposal.id %}" method="POST" >
                            {% csrf_token %}
                            <textarea name="message" class="span8 txtreply" cols="90" rows="3"></textarea>
                            <input type="hidden" name="return_feedback" value="1">
                            <input class="btnSubmitReply btn btn-danger" type="submit" value="Submit reply">
                            <button class="btn btnCancelReply">Cancel</button>
                        </form>
                    </div>
                    <hr>
                {% empty %}
                    <p>Sorry, you don't have any new feedback. <br>
In the meantime check out more <a href="/contest.all/">CONTESTS!</a></p>
                {% endfor %}
            </div>
            </div> 
                <div id="tab2" class="tab_content"> <!--Content--> 
                <div style="" class="cont_info_profile" id="my_notifications">
                {% for f in feedback_proposal %}
                    {% if f.sender.profile.image %}    
                        {% thumbnail f.sender.profile.image "50x50" crop="50% center" as im %}
                            {% if f.sender.id == user.id %}
                                <img class="img_sender_perfil" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% else %}
                                <img class="img_sender_otros" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endif %}
                        {% endthumbnail %} 
                    {% else %}
                        {% if f.sender.id == user.id %}
                           <img class="img_sender_perfil" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" >
                        {% else %}
                           <img class="img_sender_otros" src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" class="no_image_notification" > 
                        {% endif %}
                    {% endif %}
                    {% autoescape off %}
                        <p>{{f.feedback}}</p>
                    {% endautoescape %}
                    <hr>
                {% empty %}
                    <p>Sorry, you don't have any new feedback. <br> 
In the meantime check out more <a href="/contest.all/">CONTESTS!</a></p>
                {% endfor %}
            </div>



                </div> 
            </div>

    	</div><!--End span8-->
	</div>
</div>

{% endblock %}

{% block footer_extrajs %}
<script type="text/javascript">
function activa_select(){
    $("#select_contest").val("{{idCon}}")
}
function view_form_reply(e)
{
    // idclient,idartist,idcontest,idproposal
    e.preventDefault();
    var btnReply = $(this);
    var divReply = btnReply.parent("div").next("div.form_reply");
    var frmReply = divReply.find("form");
    var _url = frmReply.attr("action");

    var inputReply = frmReply.find("textarea");
    var btnSubmit = frmReply.find(".btnSubmitReply");
    var btnCancel = frmReply.find(".btnCancelReply");
    var _message = inputReply.text();

    btnCancel.on("click",function(e){
        e.preventDefault();
        divReply.fadeOut();
    });
    // btnSubmit.on("click",function(){
    //     $.post(_url,"{message:'"+ _message +"'}");

    // });
    console.log(inputReply);
    divReply.fadeIn();
    inputReply.focus(); 
}
$(document).ready(function() { 
    
});

function tabs(){
    $(".tab_content").hide(); 
    $("ul.tabs li:first").addClass("active").show(); 
    $(".tab_content:first").show(); 
    $("ul.tabs li").on("click",click_tab);
}
function click_tab(){
    $("ul.tabs li").removeClass("active"); 
    $(this).addClass("active"); 
    $(".tab_content").hide(); 
    var activeTab = $(this).find("a").attr("href"); 
    $(activeTab).fadeIn(); 
    return false; 
}
function inicio()
{
    activa_select();
    $(".not_reply").on("click",view_form_reply);
    tabs();
}
$(document).on("ready",inicio);
</script>
{% endblock %}



