{% extends 'bases/main_base.html' %}

{% block title %} Contact Form {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        	<!--  Project Full Details  -->
              <div class="span12"><h3>Thank you {{user.First_Name}} </h3></div>
               <div class="row border-top">
                    <p>
                        The artwork has been added to your cart, please proceed with your payment so you can instantly download your purchase or return to the store for some more amazing art!
                    </p>
                    <h2>{{item.title}}</h2>
                    <p>Price: ${{item.price|floatformat:2}}</p>
                    {{form}}
                </div>
                <div class="row">
	                <div class="span6">                  
	                   <a class="cont-shopping" href="{% url store_view %}">Continue Shopping</a>
	                </div> 
            	</div>
    </div>
</div>
{% endblock content %}