{% extends 'bases/main_base.html' %}

{% block title %} VIVILOX.com :: Concept Art for Sale {% endblock %}

{% block extra_css %}
   <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/default/default.css">
   <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/nivo-slider.css">
{% endblock extra_css %}

{% block content %}	
{% load thumbnail %}
            <div class="container">
		<!--VIVILOX Buy and Sell Concept Art-->
		        <div class="row top-text">
                <h1 class="home-h1 span8">A New <span class="white">CONCEPT ART</span> Marketplace For....</h1>
                <p class="home-p span4">Movies - Video Games - Apps - Animation - Comic Books - Art Commissions - And more!</p>
	            </div><!--End Row--> 

                <div class="row">
                    <div class="">
                        <div id="wrapper">
                                <div class="slider-wrapper theme-default">
                                    <div id="slider" class="nivoSlider">
                                        <img src="{{ STATIC_URL }}img/slide/toystory.jpg" data-thumb="{{ STATIC_URL }}img/slide/toystory.jpg" alt="" />
                                        <img src="{{ STATIC_URL }}img/slide/walle.jpg" data-thumb="{{ STATIC_URL }}img/slide/walle.jpg" alt="" data-transition="slideInLeft" />
                                        <img src="{{ STATIC_URL }}img/slide/nemo.jpg" data-thumb="{{ STATIC_URL }}img/slide/nemo.jpg" alt="" />
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                    <div class="row color-box">
                    

			<div class="video-home span4">
                        <div id="embed-video-home">
                            <img id="video_" src="{{ STATIC_URL }}img/video-placeholder.jpg" alt="Vivilox">
                        </div>
                        <h4>Need Concept Art?</h4>
			
                    </div><!--End Span4-->

                    <div class="artist-block span4">
                        <h3 class="artist-icon">ARTISTS</h3>
                        <ul class="yellow-bullets">
                            <li>Turn your original ideas and designs into CASH!</li>
                            <li>Join today for FREE and start selling your CONCEPT ART.</li>
                            <li>Showcase your creativity to the world!</li>
                        </ul>
                        <a class="post-art-btn" href="{% url store_add_item_view %}">Sell  Art</a>
                        <a class="join-btn" href="{% url all_contest_view %}">Join Contest</a>
                    </div><!--End Span4-->

                    <div class="buyers-block span4">
                        <h3 class="buyers-icon">BUYERS</h3>
                        <ul class="red-bullets">
                            <li>Purchase original CONCEPT ART designs for your project.</li>
                            <li>Can't find what you want? Post a Contest and get multiple proposals!</li>
                            <li>Money Back Guarantee.</li>
                        </ul>
                        <a class="visit-store-btn" href="{% url store_view %} ">Art store</a>
                        <a class="join-btn" href="{% url new_add_contest_view %}">Create Contest</a>
                    </div><!--End Span4-->
                    

                    </div><!--End Row-->    
                <div class="row">

                </div>
                <div class="row">
                    <div class="span6">
                    <h3 class="features-h3-projects">Top Rated Projects</h3>
                        <div class="project-thumb-img">
                        {% for contest in objContest %}
                            <div class="span2">
                            <a href="{% url contest_details_view contest.id  %}" class="thumb-link-home">
                                {% thumbnail contest.logo "140x110" crop="50% center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{contest.name}}">
                                {% endthumbnail %}
                            </a>
                            <span class="_tooltip" rel="tooltip" data-placement="top" data-original-title="{{ contest.name }}" title="{{ contest.name }}">{{ contest.name|truncatewords:2 }}</span>
                            <a class="view-project" href="{% url contest_details_view contest.id  %}">view details</a>
                            </div>
                        {%empty%}
                           <h3>No Contest</h3>
                        {%endfor%}
                        </div>
                    </div>
                    <div class="span6">
                    <h3 class="features-h3-projects">Top Rated Item from Store</h3>
                        <div class="project-thumb-img">
                        {% for item in objStore %}
                            <div class="span2">
                            <a href="{% url image_details_view item.id  %}" class="thumb-link-home">
                                {% thumbnail item.image_sample "140x110" crop="50% center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{item.name}}">
                                {% endthumbnail %}
                            </a>
                            <span class="_tooltip" rel="tooltip" data-placement="top" data-original-title="{{ item.title }}" title="{{ item.title }}">{{ item.title|truncatewords:3 }}</span>
                            <a class="view-project" href="{% url image_details_view item.id  %}">view details</a>
                            </div>
                        {%empty%}
                           <h3>No Items</h3>
                        {%endfor%}
                        </div>
                    </div>
                        <a class="more-red" href="{% url all_contest_view %}">View All Projects</a> 
                        <a class="more-rated" href="{% url top_contest_view %}">View All Top Rated Proyects</a>
                </div><!--End Row--> 
	        </div><!--End Container-->

<!-- Modal -->
<div style="width:auto; left:40%;top:40%;" id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Need Concept Art?</h3>
  </div>
  <div style="max-height:500px;" class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- / Modal -->



{% endblock %}

{% block footer_extrajs %}
<script src=" {{ STATIC_URL }}js/jquery.nivo.slider.js" ></script>
<script>
    $(document).on("ready",inicio);
    
    function inicio()
    {
        $("._tooltip").tooltip();
        $("#video_").on("click",viewVideo);
        $('#slider').nivoSlider();
    }

    function viewVideo()
    {
        var videoTxt = "<iframe width='853' height='480' src='http://www.youtube.com/embed/b4I5Lnn8BIc?rel=0' frameborder='0' allowfullscreen></iframe>";
        var modalVideo = $("#myModal");
        modalVideo.find(".modal-body").html(videoTxt);
        modalVideo.modal('show');
    }




</script>
{% endblock footer_extrajs %}