{% extends 'bases/main_base.html' %}

{% block title %} VIVILOX.com :: Concept Art for Sale {% endblock %}

{% block extra_css %}
   <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/default/default.css">
   <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/nivo-slider.css">
{% endblock extra_css %}

{% block content %}	
{% load thumbnail %}
            <div class="container">
		<!--VIVILOX Buy and Sell Concept Art-->
		        <div class="row top-text">
                <div class="span8">
                    <h3 class="home-h3">We are a visual developement marketplace For....</h3>
                </div>
                <div class="span4">
                    <p class="home-p">Movies - Video Games - Apps - Animation - Anime - Comic Books - And more!</p>
                </div>
	            </div><!--End Row--> 

                <div class="row">
                    <div class=" span12">
                        <div id="wrapper">
                                <div class="slider-wrapper theme-default">
                                    <div id="slider" class="nivoSlider">
                                        <img src="{{ STATIC_URL }}img/slide/Slide_01.jpg" data-thumb="{{ STATIC_URL }}img/slide/slide_01.jpg" alt=""  />
                                        <img src="{{ STATIC_URL }}img/slide/Slide_02.jpg" data-thumb="{{ STATIC_URL }}img/slide/slide_02.jpg" alt=""  />
                                        <img src="{{ STATIC_URL }}img/slide/Slide_03.jpg" data-thumb="{{ STATIC_URL }}img/slide/slide_03.jpg" alt=""  />
                      					<img src="{{ STATIC_URL }}img/slide/Slide_04.jpg" data-thumb="{{ STATIC_URL }}img/slide/slide_04.jpg" alt=""  /> 
                    					<img src="{{ STATIC_URL }}img/slide/Slide_05.jpg" data-thumb="{{ STATIC_URL }}img/slide/slide_05.jpg" alt=""  />
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

            <div class="row color-box">
 			<div class="video-home span4">
                        <div id="embed-video-home">
                            <img id="video_" src="{{ STATIC_URL }}img/video-placeholder.jpg" alt="Vivilox">
                        </div>
                        <h4>Need Concept Art?</h4>
			
                    </div><!--End Span4-->

                    <div class="artist-block span4">
                        <h3 class="artist-icon">ARTISTS</h3>
                        <ul class="yellow-bullets">
                            <li>Turn your original ideas and designs into CASH!</li>
                            <li>Join today for FREE and start selling your CONCEPT ART.</li>
                            <li>Showcase your creativity to the world!</li>
                        </ul>
                        <a class="post-art-btn" href="{% url store_add_item_view %}">Sell  Art</a>
                        <a class="join-btn" href="{% url all_contest_view %}">Join Contest</a>
                    </div><!--End Span4-->

                    <div class="buyers-block span4">
                        <h3 class="buyers-icon">BUYERS</h3>
                        <ul class="red-bullets">
                            <li>Purchase original CONCEPT ART designs for your project.</li>
                            <li>Can't find what you want? Post a Contest and get multiple proposals!</li>
                            <li>Money Back Guarantee.</li>
                        </ul>
                        <a class="visit-store-btn" href="{% url store_view %} ">Art store</a>
                        <a class="join-btn" href="{% url new_add_contest_view %}">Create Contest</a>
                    </div><!--End Span4-->
                    

                    </div><!--End Row-->    
                <div class="row">

                </div>
                <div class="row">
                    <div class="span6">
                    <h3 class="features-h3-projects">Top Rated Contests</h3>
                        <div class="project-thumb-img">
                        {% for contest in objContest %}
                            <div class="span2">
                             {% thumbnail contest.logo "140x110" crop="50% center" as im %}
                                <a href="{% url contest_details_view contest.id  %}">
                                <div class="wrapper_thumb" style="width:{{im.width}}px; height:{{im.height}}px;" >
                                    <img class="img_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{contest.name}}" />
                                    <div class="description_thumb" style="width:{{im.width}}px; height:{{im.height}}px;" >
                                        <div class="description_content_thumb">
                                            <p>
                                            <span class="cat">{{contest.category}}</span><br>
                                            <span class="title">{{contest.name}}</span><br>
                                            {{contest.description|truncatewords:5}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                </a>
                            {% endthumbnail %}
                            <a class="view-project" href="{% url contest_details_view contest.id  %}">view details</a>
                            </div>
                        {%empty%}
                           <h3>No Contest</h3>
                        {%endfor%}
                        </div>
                        <a class="more-red" href="{% url all_contest_view %}">View All Contests</a> 
                        <a class="more-rated" href="{% url top_contest_view %}">View All Top Rated Contests</a>
                    </div>
                    <div class="span6">
                    <h3 class="features-h3-projects">Top Rated Art</h3>
                        <div class="project-thumb-img">
                        {% for item in objStore %}
                            <div class="span2">
                            {% thumbnail item.image_sample "140x110" crop="50% center" as im %}
                               <a class="" href="{% url image_details_view item.id  %}">
                                <div class="wrapper_thumb" style="width:{{im.width}}px; height:{{im.height}}px;" >
                                    <img class="img_thumb" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{contest.name}}" />
                                    <div class="description_thumb" style="width:{{im.width}}px; height:{{im.height}}px;" >
                                        <div class="description_content_thumb">
                                            <p>
                                                <span class="cat">{{item.category}}</span><br>
                                                <span class="title">{{item.title}}</span><br>
                                                {{item.description|truncatewords:5}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                             </a>   
                            {% endthumbnail %}
                        
                            <a class="view-project" href="{% url image_details_view item.id  %}">view details</a>
                            </div>
                        {%empty%}
                           <h3>No Items</h3>
                        {%endfor%}
                        </div>
                        <a class="more-red" href="{% url store_view %}">View Store</a> 
                        <a class="more-rated" href="{% url store_top_view %}">View All Top Rated Art</a>
                    </div>
                        
                </div><!--End Row--> 
	        </div><!--End Container-->

<!-- Modal -->
<div style="width:auto; left:40%;top:40%;" id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">How does it work?</h3>
  </div>
  <div style="max-height:500px;" class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- / Modal -->
{% endblock %}
{% block footer_extrajs %}
<script src="{{ STATIC_URL }}js/plugins.js" ></script>
<script>
    function inicio()
    {
        $('#slider').nivoSlider();
        $("#video_").on("click",viewVideo);

        // description img
        $('div.description_thumb').each(function(){
            var div = $(this);
            div.parent().css('width', $(this).siblings('img').width());
            div.css('opacity', 0.6).css('width', $(this).siblings('img').width()).css('display', 'block');
        });

        $(".wrapper_thumb").on({
            mouseenter:show_desc,
            mouseleave:hide_desc
        });
    }
    function show_desc(){
        $(this).children('.description_thumb').stop()
        .animate({
            opacity:0.9,
            top:35
        },400);
        $(this).children('img').stop().animate({
            opacity:0.7
        },400); 
    }
    function hide_desc(){
        $(this).children('.description_thumb').stop()
        .animate({
            top:75,
            opacity:0.6
        },400); 

        $(this).children('img').stop().animate({
            opacity:1
        },400); 
    }
    function viewVideo()
    {
        var videoTxt = "<iframe width='853' height='480' src='http://www.youtube.com/embed/b4I5Lnn8BIc?rel=0' frameborder='0' allowfullscreen></iframe>";
        var modalVideo = $("#myModal");
        modalVideo.find(".modal-body").html(videoTxt);
        modalVideo.modal('show');
    }

    $(document).on("ready",inicio);
</script>
{% endblock footer_extrajs %}