{% extends 'bases/main_base.html' %}

{% block title %} New Proposal {% endblock %}

{% block content %}
<div class="container">
    <!--  Project Proposals  -->
     <div class="row steps-str">
        <div class="span4 step1"><h4 class=''><span>Step1: Art information</span></h4></div>
        <div class="span4 step2"><h3 class='up_item'><span>Step2: Upload Original Work</span></h3></div>
        <div class="span4 step3"><h4 class=''><span>Step 3: Review and submit.</span></h4></div>
    </div>
    <div class="row">
        <div class="span6">
            <form action="." method="POST" id="frmExpedient" name="frmExpedient" class="form-horizontal" enctype='multipart/form-data'>
            {% csrf_token %}
            <div id="images">
            <p><label for="">Image File *</label>
            <p>{{msg}}</p>
            <input type='file' name='image' >
            </p>
            </div>
            <p>
                <button id="add_another" title="Add Image" class="edit"> Add another image</button>
                <input class="edit" type="submit" name="addItem" value="Submit my Work">
            </p>
            </form>
        </div>
        <div class="span6">
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
    
</div><!--End Container-->

{% endblock content %}

{% block footer_extrajs %}
    
<script type="text/javascript" >

$(document).on("ready",function(){
    // Capturo evento para agregar otra campo de imagen dinamicamente
    $("#add_another").on("click",function(e){
        e.preventDefault();
        var num = $(".img").length;
        num = num + 1;
        name = "image_" + num.toString();
        console.log(name); 
        $("#images").append("<p><input class='img' type='file' name='image' ></p>");
    });
});


</script>

{% endblock footer_extrajs %}



