{% extends 'bases/main_base.html' %}

{% block title %} Add item store {% endblock %}

{% block content %}
<div class="container">
    <!--  Project Proposals  -->
    <div class="row">
    <div class="span12"><h3 class='up_item'>Step1: Art information</h3></div>
    </div>
    <div class="row">
    <div class="span12">
        <form action="." method="POST" id="IdfrmAddItem" name="frmAddItem" class="form-horizontal" enctype='multipart/form-data'>
        {% csrf_token %}
        
        {% if msg %}
        <div class="row">
            <div class="span12">
                <h3 class="alert alert-success">{{msg}}  <a href=" {% url my_store_view %} ">Return to your store</a></h3> 
            </div>
        </div>
        {% endif %}


        {% if  idItem %}
            <input type="hidden" name="idItem" value="{{idItem}}">
        {% endif %}
        <fieldset>
              <legend>Art information</legend>
          </fieldset>  
          {{objForm.as_p}}
        <p>
            {% if msg == "" %}
                <input type="submit" name="addItem" value="Update" class="edit">
            {% else %}
                <input type="submit" name="addItem" value="Submit my Work" class="edit">
            {% endif %}            
        </p>
        </form>
    </div>
    </div>
    
</div><!--End Container-->

{% endblock content %}



