{% extends 'bases/main_base.html' %}

{% block title %} Add item store {% endblock %}

{% block content %}
<div class="container">
    <!--  Project Proposals  -->
    <div class="span12"><h3>Upload Your Art!</h3></div>
    <div class="span12">
        <form action="." method="POST" id="IdfrmAddItem" name="frmAddItem" class="form-horizontal" enctype='multipart/form-data'>
        {% csrf_token %}
        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}
        {% if  idItem %}
            <input type="hidden" name="idItem" value="{{idItem}}">
        {% endif %}
          {{objForm.as_p}}
        <p>
            {% if msg == "" %}
                <input type="submit" name="addItem" value="Update">
            {% else %}
                <input type="submit" name="addItem" value="Done"class="edit">
            {% endif %} 
            
        </p>
        </form>
    </div>
    
</div><!--End Container-->

{% endblock content %}



