{% extends "bases/main_base.html" %}

{% block title %} Client Profile {% endblock %}

{% block content %}

{% load thumbnail %}
<div class="container">
    <br>
	<div class="row">
		<div class="span3 user">
            <div class="user-info">
                <a id="edit_profile" href=" {% url edit_profile_view %} ">edit</a>
	            <div class="image-user">
	                {% if profile.image %}
                        {% thumbnail profile.image "72x48" crop="50% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% endthumbnail %}  
                    {% else %}
                         <img src="{{ MEDIA_URL }}img/user-image.jpg" />
                    {% endif %}
                </div>
	            <div class="user-text">
	                <h4>{{user.get_full_name}}</h4>
	                <span>Artist</span><br />
	                <a class="contact" href="#">{{user.email}}</a>
                    <br>
                </div>
            </div>
            <div class="listing">
                <ul id="profile_menu">
                    <li><a class="store item_menu" href="{% url my_store_view %}">My Store</a></li>
                    <li><a class="submissions item_menu " href="{% url profile_contest %}">My Submissions</a></li>
                    <li><a class="notifications item_menu" href="{% url feedback_view %}">Notifications</a></li>
                    <li><a class="purchased item_menu active_link" href="{% url purchased_images_view %}">Purchased Art</a></li>                </ul>
                </ul>
            </div>
        </div><!--Span3 ENd-->
        <div class="span8">
        <!-- ** Purchased ** -->
            <div class="cont_info_profile" id="my_purchased">
                {% for p in purchased  %}
                    <div class="items first">
                        <div class="previewimage">
                            {% thumbnail p.item.image_sample "81x61" crop="50% center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endthumbnail %} 
                        </div>
                        <div class="details">
                            <strong>{{ p.item.title }}</strong><br />
                            <span>Price ${{ p.item.price|floatformat:2 }}</span><br>
                            <span>Date purchase: {{ p.date|date:"M d, Y" }} </span>
                        </div>
                        <div class="download-prod">
                            {% if p.paid %}
                                 <a class="download-files" href="{% url download_expedient_view p.item.id %}">Download</a>
                                {% if p.released %}
                                    <h2>Liberated</h2>
                                {% else %}
                                    <a class="download-files" href="{% url liberate_item_view p.item.id %}" title="">Liberate</a>
                                {% endif %}
                            
                            {% else %}
                                <a class="pay-now" href="{% url pay_item_view p.item.id %}" title="">Pay Now</a>
                            {% endif %}

                           
                           
                        </div>
                    </div>
                {% empty %}
                    <h4>You have no purchases. Check out the <a href=" {% url store_view %} ">VIVILOX Concept Art Store!</a>  </h4>
                {% endfor %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    <ul>
                    {% for pag in purchased.paginator.page_range %}
                        <li>
                            <a href="?page={{pag}}">{{pag}}</a>

                        </li>   
                    {% endfor %}
                    </ul>
                </span>
            </div>

	</div>
</div>
{% endblock %}

