{% extends "bases/main_base.html" %}

{% block title %} Artist Profile {% endblock %}

{% block content %}

{% load thumbnail %}

<div class="container">
    <br>
	<div class="row">
		<div class="span3 user">
            <div class="user-info">
                <a id="edit_profile" href=" {% url edit_profile_view %} ">edit</a>
	            <div class="image-user">
	                {% if profile.image %}
                        {% thumbnail profile.image "72x48" crop="50% center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                        {% endthumbnail %}  
                    {% else %}
                         <img src="{{ MEDIA_URL }}accounts/profile/user-image.jpg" />
                    {% endif %}
                </div>
	            <div class="user-text">
	                <h4>{{user.get_full_name}}</h4>
	                <span>Artist</span><br />
	                <a class="contact" href="#">{{user.email}}</a>
                    <br>
                    
	            </div>
            </div>
            <div class="listing">
                <ul id="profile_menu">
 	            <li><a class="store item_menu active_link" href="{% url my_store_view %}">My Store</a></li>
                    <li><a class="submissions item_menu " href="{% url profile_contest %}">My Submissions</a></li>
                    <li><a class="notifications item_menu" href="{% url feedback_view %}">Notifications</a></li>
                  
                    <li><a class="purchased item_menu " href="{% url purchased_images_view %}">Purchased Images</a></li>                </ul>
                </ul>
            </div>
        </div><!--Span3 ENd-->
        <div class="span8">
            <div class="cont_info_profile" id="my_items">
                {% if user.is_authenticated  %}
                    <a class="yellow" href="{% url store_add_item_view %}">Add Your Art!</a>
                {% endif %}
                <br>
                {% for item in items %}
                    <div class="storeimg mini">
                        <div>
                        <a href="{% url image_details_view item.id %}" class="proposal-thumb-link">
                            {% thumbnail item.image_sample "123x98" crop="50% center" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{user.get_full_name}}">
                            {% endthumbnail %}  
                        </a> 
                        </div>
                        <strong>{{ item.title }}</strong><br />
                        <span>Price:${{ item.price|floatformat:2}}</span><br />
                    </div>
                {% empty %}
                    <h3>Your Store is empty! Start selling your best designs! Click on the "Add Your Art!" Button </h3> 
                {% endfor %}
            </div>
             

    	</div><!--End span8-->
	</div>
</div>
{% endblock %}
