{% extends 'bases/main_base.html' %}

{% block title %} Resume and Pay new contest  {% endblock %}

{% block content %}
<div class="container">
	<div  id="cont_breadcrumb" class="row">
        <div class="span12">
            <ul class="breadcrumb">
              <li><a href=" {% url main_view %} ">Home</a> <span class="divider">|</span></li>
              <li><a href=" {% url new_add_contest_view %} ">Select Category</a> <span class="divider">|</span></li>
              <li>Buid Contest<span class="divider">|</span></li>
              <li class="active" >Pay Contest</li>
            </ul>
        </div>
    </div>
	<div class="row">
		{{infoContest.name}} <br>
		{{infoContest.category}} <br>
		{{infoContest.industry}} <br>
		{{infoContest.total_cost}} <br>
		{{infoContest.duration}} <br>
		{{infoContest.date_end|date}}
    </div>
</div><!--End Container-->

{% endblock content %}

{% block footer_extrajs %}
	<script type="text/javascript">
		$(document).on("ready",function(e){
				

		});
	</script>
{% endblock footer_extrajs %}