{% extends 'bases/main_base.html' %}

{% block title %} Resume and Pay new contest  {% endblock %}

{% block content %}
<div class="container">
	<div class="row steps-str">
        <div class="span4 step1"><h4 class=''><span>Step1: Select Category</span></h4></div>
        <div class="span4 step2"><h4 class=''><span>Step2: Contest Details</span></h4></div>
        <div class="span4 step3"><h3 class='up_item'><span>Step 3: Pay Contest</span></h3></div>
    </div>
    
	<div class="row">
	<div class="span12">
		{{infoContest.name}} <br>
		{{infoContest.category}} <br>
		{{infoContest.industry}} <br>
		{{infoContest.total_cost}} <br>
		{{infoContest.duration}} <br>
		{{infoContest.date_end|date}}
	</div>
    </div>
</div><!--End Container-->

{% endblock content %}

{% block footer_extrajs %}
	<script type="text/javascript">
		$(document).on("ready",function(e){
				

		});
	</script>
{% endblock footer_extrajs %}