{% extends "bases/main_base.html" %}

{% block title %} View All Contests {% endblock %}

{% block content %}
{% load thumbnail %}
<div class="container">
    <div id="cont_breadcrumb" class="row">
        <div class="span12">
            <ul class="breadcrumb">
              <li><a href=" {% url main_view %} ">Home</a> <span class="divider">/</span></li>
              <li class="active">All Contests</li>
            </ul>
        </div>
    </div>

	<div class="row">
	    <div class="span9">
	           <h3 id="cat_name">Category Name</h3>
	  	</div>
		<div style="margin-top:10px;" class="span3">
			<form id='frmCategory' action='' method='POST'>
				{% csrf_token %}
			    <select id='id_category' name='category'>
			    	<option value='0'>All Categories</option>
			    	{% for cate in objCategory%}
			       		<option value='{{cate.id}}'>{{cate.name}}</option>
			        {% endfor %}
			    </select>
				<input type="submit" style="display:none" value="List by Category">
			</form>
		</div>
	</div>
           <!--  Contest list -->
	<div id="all_contest" class='row'>
           {% for contest in objContest %}
           		<div class="project-list row">
           		<div class="row">
           			<div class="span10">
						<h3>
							{{contest.name}}
							{% if contest.finished %}
								// Finished
							{% endif %}
						</h3>
	            	</div>
	            	<div class="span2">
	            		
						<a class="join-yellow" href="{% url contest_details_view contest.id  %}">
							
							{% if contest.finished or user.profile.user_type == "1" %}
		            			View Contest	
		            		{% else %}
		            			Join Contest
		            		{% endif %}
						</a>
	            	
	            	</div>
           		</div>
	            <div class="row">
	                <div class="project-thumb-img span5">
	                	<a href="{% url contest_details_view contest.id  %}" class="thumb-link">
	                		{% thumbnail contest.logo "100x100" crop="50% center" as im %}
                            	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{contest.title}}">
                            {% empty %}
                            	<img src="{{ MEDIA_URL }}no_logo.jpg" alt="">
                            {% endthumbnail %}
	                	</a>
		                <div class="list-description">
		                    <p>{% autoescape off %}{{contest.description|truncatewords_html:25}}{% endautoescape %}</p>
		                </div>
	                </div>
	                <div class="time-left span3">
	                    <h3>Time Left</h3>
	                    <span class="time-icon">{{contest.date_end|timeuntil}} </span>
	                </div>
	                <div class="budget span2">
	                    <h3>Budget</h3>
	                    <span class="budget-icon">
	                    	{% if contest.cost.cost == 0 %}
	                    		{{contest.cost_custom|floatformat:2}}
	                    	{% else %}
	                    		{{contest.cost.cost|floatformat:2}}
	                    	{% endif %}
	                    </span>
	                </div>
	                <div class="span2">
	                	<h3>Proposals</h3>
	                	<span class="number">{{contest.num_proposals}}</span>
	                	<span class="number">{{contest.my_proposals}}</span>

	                </div>
	                {# <div class="join-contest-btn span2"></div> #}
	            </div>
	            </div>
	        {% empty %}
	        	<h3>No Contest</h3>  
	        {% endfor %}
 		
 		<div class="span12">
		        
	    	<div class="pagination pagination-small pagination-centered">
                    <ul>

                	{% if objContest.has_previous %}
            			<li><a href="?page={{ objContest.previous_page_number }}">Prev</a></li>
        			{% else %}
        				<!--<li><a class="disabled" href="#">Prev</a></li>-->
        			{% endif %}
                    {% for pag in objContest.paginator.page_range %}
                        <li>
                        	{% if objContest.number == forloop.counter %}
                           	    <a class="active" id="id_{{objContest.number}}" href="?page={{pag}}">{{pag}}</a>  
                	       	{% else %}
                	            <a id="id_{{objContest.number}}" href="?page={{pag}}">{{pag}}</a>  
                   	       	{% endif %}
                        </li>   
                    {% endfor %}
                    {% if objContest.has_next %}
            			<li><a href="?page={{ objContest.next_page_number }}">Next</a></li>
        			{% else %}
        				<!--<li><a class="disabled" href="#">Next</a></li>-->
        			{% endif %}
                    </ul>

            </div>
 	</div> <!-- End Row -->          
</div><!--End Container-->

{% endblock %}

{% block footer_extrajs %}
<script type="text/javascript">
	$(document).on("ready",function(){
		
		$("#id_category").val('{{idCat}}');
		var cat_name_ = $("#id_category").find("option:selected").text();
		$("#cat_name").html(cat_name_);

		$("#id_category").on('change',function(){
			$("#frmCategory").submit();
		});


	});
</script>
{% endblock %}