{% extends 'bases/main_base.html' %}

{% block title %} Resume and Pay new contest  {% endblock %}

{% block content %}
<div class="container">
	<div class="row">

        <div class="span12">
            <ul class="breadcrumb">
              <li><a href=" {% url main_view %} ">Home</a> <span class="divider">|</span></li>
              <li><a href=" {% url new_add_contest_view %} ">Select Category</a> <span class="divider">|</span></li>
              <li class="active">Buid Contest<span class="divider">|</span></li>
              <li>Pay Contest</li>
            </ul>
        </div>
    </div>
	<div class="row">
    <h3 class='up_item'>Step 3:  Review and payment</h3>
    <hr>

    </div>
</div><!--End Container-->

{% endblock content %}

{% block footer_extrajs %}
	<script type="text/javascript">
		$(document).on("ready",function(e){
			

		});
	</script>
{% endblock footer_extrajs %}