/* @override http://vivilox.webfactional.com/static/css/estilos.css */

/* @override http://vivilox.webfactional.com/static/css/estilos.css */

/* @override http://vivilox.webfactional.com/static/css/estilos.css */

/* @override http://192.168.0.117:9000/static/css/estilos.css */

#logo a {
	background: url(/static/img/logo.png) no-repeat;
	width: 205px;
	height: 67px;
	display: block;
	margin-top: 20px;
	margin-left: 0;
	margin-right: 0;
}

p.home-p {
	color: #676666;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 17px;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

div.title-form {
	background: url(/static/img/title-bg1.png) no-repeat left;
	padding-left: 55px;
}

div.title-form h3 {
		background: url(/static/img/title-bg2.png) no-repeat right;
	display: inline-block;
	padding-right: 55px;
}


h3 {
	font-sizeont:'Lato', sans-serif;
	
	
}

div.row.top-text {
	margin-bottom: 10px;
	margin-top: 20px;
	background: url(/static/img/separator-h.png) no-repeat center bottom;
	padding-bottom: 10px;
}

div.row.color-box {
	background: url(/static/img/separator-h.png) no-repeat center bottom;
	padding-bottom: 22px;
}

div.container {
	
	background-color: #F7F7F7;
	padding-left: 0;
	padding-right: 0;
}

div#_proposal.proposals-grid.row {
	padding-left: 15px;
}

ul.red-bullets li{
	list-style-image: url(../img/white-bullet.png);
	color: #fff;
	font-family: 'Lato', sans-serif;

}

div.video-home {
	text-align: center;
	top-align:center;
	display: inline-block;
     0
	margin-top: 35px;
	margin-bottom: 15px;
        
}

a.post-art-btn {
	background-color: #fff;
	color: #393942;
	font-weight: bold;
	display: block;
	float: left;
	padding: 7px 10px;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 10px;
}
a.post-art-btn:hover{
	text-decoration: none;
	background-color: #DAE0E3;
	color: #393942;
}

a.visit-store-btn {
	background-color: #fff;
	color: #393942;
	font-weight: bold;
	display: block;
	float: left;
	padding: 7px 10px;
	text-transform: uppercase;
	font-size: 12px;
	margin-left: 8px;
}

a.visit-store-btn:hover{
	text-decoration: none;
	color: #393942;
	background-color: #DAE0E3;
}
ul.red-bullets{
	height: 120px;
}

ul.yellow-bullets {
	height: 120px;
}
span.red {
	background-color: #a80007;
	color: #fff;
	padding: 5px 7px;
	text-transform: uppercase;
}

h1.home-h1 {
	color: #676666;
	margin: 0;
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

h1 {
	margin-top: 15px;
	margin-bottom: 15px;
}

a.register {
	display: block;
	margin-top: 10px;
}

ul.form-info li {
	margin-top: 7px;
	margin-bottom: 7px;
}

ul.form-info {
	margin-top: 15px;
}


div.form-form {
	overflow: hidden;
	background: url(/static/img/separator-h.png) no-repeat center top;
	width: 100%;
}

#footner-menu li {
	float: left;
	padding-right: 15px;
}

ul.yellow-bullets li{
	list-style-image: url(../img/white-bullet.png);
	color: #fff;
	font-family: 'Lato', sans-serif;

}

h3.buyers-icon {
	background: url(/static/img/icon-buyers.png) no-repeat left center;
	padding-left: 52px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #fff;
	font-size: 20px;
	margin: 10px 0 20px 10px;
	font-family: 'Lato', sans-serif;
	font-weight:900
}

h3.artist-icon {
	background: url(/static/img/icon-artist.png) no-repeat left center;
	padding-left: 52px;
	padding-bottom: 2px;
	padding-top: 2px;
	color: #fff;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-weight:900
}

nav ul li{
	display: inline-block;
	padding-right: 7px;
	padding-left: 7px;
	border-right: 1px solid #383838;
}

nav.span9 {
	margin: 0;
}

h3.featured-h3-store {
	border-bottom: 5px solid #f0b92f;
	color: #676666;
}

h3.features-h3-projects {
	border-bottom: 5px solid #393942;
	color: #676666;
}

a.more-yellow {
	background-color: #fac231;
	color: #7d530e;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 25px;
	float: right;
	font-family: 'Lato', sans-serif;
	font-weight:900;
}

a.join-yellow {
	background: url(../img/join-btn.png) no-repeat left;
	display: block;
	line-height: 35px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	float: left;
	font-size: 11px;
	width: 134px;
	text-align: left;
	padding-left: 11px;
}

ul.breadcrumb {
	margin: 0 0 0 10px;
	padding: 0;
	background-color: #38363f;
	float: left;
}
ul.breadcrumb li{
	color: #fff;
	text-shadow: none;
}
ul.breadcrumb a{
	color: #fff;
	text-shadow: none;
}
div#cont_breadcrumb.row {
	
	padding-top: 5px;
	padding-bottom: 9px;
	margin-top: 10px;
}

div#cont_breadcrumb.row div.span12 {
	background-color: #38363f;
	padding: 10px 0;
}
a.yellow:hover{
	color: #fff;
	text-decoration: none;
	background-position: 57px -45px;
	}
a.yellow {

	background: url(/static/img/join-yellow-btn.png) no-repeat 57px 7px;
	display: block;
	width: 165px;
	line-height: 50px;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	font-size: 11px;
	margin-top: 12px;
	text-align: center;
	margin-left: 465px;
	height: 49px;
	padding-left: 28px;
}
h3.up_item span{
	background-color: #b60100;
	display: block;
	height: 42px;
}
h3.up_item{
	color: #fff;
	margin-top: 15px;
	background: url(/static/img/steps-stores.png) no-repeat right 1px;
	display: block;
	padding-right: 21px;
	height: 40px;
	font-size: 18px;
	text-align: center;
}

div.span5.upload-txt {
	margin-top: 70px;
}

span.time-icon {
	background: url(/static/img/icon-clock.png) no-repeat 0 center;
	font-weight: bold;
	font-size: 18px;
	line-height: 19px;
	padding: 5px 0 5px 36px;
	display: block;
}

span.budget-icon {
	background: url(/static/img/icon-budget.png) no-repeat 0 center;
	font-weight: bold;
	font-size: 18px;
	line-height: 11px;
	padding: 5px 5px 5px 40px;
	color:#a1bd59;
}

span.proposals-icon {
	font-weight: bold;
	font-size: 18px;
	line-height: 11px;
	padding: 5px;	
}


span.item_artist {
	background: url(/static/img/icon-artist2.png) no-repeat;
	font-weight: bold;
	font-size: 18px;
	line-height: 11px;
	padding: 5px 5px 5px 40px;
}

span.amount_purchases {
	background: url(/static/img/icon-sales2.png) no-repeat;
	font-weight: bold;
	font-size: 18px;
	line-height: 11px;
	padding: 5px 5px 5px 40px;
}

ol.project-detail-ol {
	list-style-position: inside;
	width: 80%;
}

div.proposal-thumb {
	display: inline-block;
	margin-left: 20px;
	margin-top: 10px;

}

#_proposal div.user-prop.row div.proposal-thumb.descarded p a.username-link {
}

div.proposal-thumb.descarded {
	display: inline-block;
	vertical-align: top;
}



div.contest-title.row {
	margin: 0;
}

div.project-details.row {
	border: 0px solid #c4c4c4;
	padding: 15px;
	margin-top: 30px;
		background: url(/static/img/separator-h.png) no-repeat center top;
}

div.project-detail-txt.span4, div.project-detail-list.span4, div.project-detail-links.span4 {
	margin: 0;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
}

form#step-three.Left {
	float: left;
	text-align: right;
}

div.selectinline {
	margin-bottom: 10px;
	margin-right: 15px;
}


h3.proposals-h3 {
	background: url(/static/img/separator-h.png) no-repeat center bottom;
	padding-bottom: 10px;
}

.span3 span.price {
	padding-bottom: 3px;
	padding-top: 1px;
	font-weight: bold;
}

.store-products div.span3 {
	line-height: 8px;
	margin-bottom: 25px;
	text-align: center;
}
button.edit:hover, input.edit:hover,
a.edit:hover{
	text-decoration: none;
	background-color: #a80008;
}
button.edit,input.edit,
a.edit {
	color: #fff;
	background-color:#393942;
	padding: 8px 20px;
	font-weight: bold;
	margin-right: 15px;
	border: none;
}
input.feedback:hover{
	background-color: #820006;
}
input.feedback {
	color: #fff;
	background-color: #a80008;
	padding: 8px 20px;
	font-weight: bold;
	border: none;
	display: block;
	width: 100%;
}
a.delet:hover{
	text-decoration: none;
		background-color: #820006;
}
a.delet {
	color: #fff;
	padding: 8px 20px;
	font-weight: bold;
	background-color: #a80008;
}

div.expedient ul {
	margin-bottom: 20px;
}

a.proposal-thumb-link {
	display: block;
	border: 2px solid #575764;
	margin-bottom: 9px;
	width: 157px;
	margin-right: auto;
	margin-left: auto;
}

#my_items div.storeimg.mini div a.proposal-thumb-link {
	display: block;
	margin-bottom: 19px;
	width: 125px;
	border: none;
}

#my_items a.yellow {
	margin-top: 0;
	margin-left: 300;
        margin-right: 0;
}

#my_items div.storeimg.mini div img{
	width: 100%;
	height: 100%;
}
a.thumb-link-home {
	display: inline-block;
	border: 1px solid #d0d0d0;
	vertical-align: top;
	width: 140px;
	height: 110px;
	margin-bottom: 5px;
}

a.contestitle-link {
	display: block;
}

a.clientitle-link {
	display: block;
	font-size: 12px;
}

span.budet-icon {
	font-weight: bold;
	font-size: 18px;
}

div.join-contest-btn.span2 {
	margin-top: 31px;
	float: left;
}
a.join-yellow:hover{
	text-decoration: none;

}

div#all_contest div.project-list div.time-left.span3 h3 {
	background-color: #f6f6f6;
	font-size: 18px;
	color: #383934;
	padding-left: 0;
}

div#all_contest div.project-list div.budget.span2 h3 {
	background-color: #f6f6f6;
	font-size: 18px;
	color: #a1bd59;
	padding-left: 0;
}

div#all_contest div.project-list div.span2 h3 {
	background-color: #f6f6f6;
	font-size: 18px;
	color: #383934;
	padding-left: 0;
}

a.more-yellow:hover{
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

h4 {
	color: #676666;
	font-weight: normal;
	font-style: normal;
}

#embed-video-home {
	background-image: url(../img/video-placeholder.jpg);
	height: 177px;
}

a.blue-link {
	font-size: 16px;
	color: #108fce;
	text-decoration: underline;
	text-align: center;
	display: block;
}

a.more-red {
	background-color: #a80007;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:900;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 15px;
	float: right;
}

a.more-rated {
	background-color: #393942;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:900;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 15px;
	float: right;
	margin-right: 20px;
}
input.red2{
	background-color: #d90d0a;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:900;
	text-transform: uppercase;
	font-size: 14px;
	padding: 8px 25px;
	border: none;
	margin-top: 0;
	margin-left: 25px;
}

div.form-actions {
	overflow: hidden;
	text-align: center;
	height: 34px;
}


#frmContest div.control-group {
	overflow: hidden;
	width: 100%;
}

#frmContest div.cont_cost.span4 {
	margin-left: 0;
	margin-right: 15px;
}

div.control-group2 {
	width: 48%;
	float: left;
}


#frmContest div.control-group2 label.control-label {
	margin-right: 0;
	float: right;
	width: 275px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 28px;
}

label.checkbox.inline {
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 17px;
}

label.checkbox.inline  input {
	margin-top: -3px;
}

#frmContest div.cont_cost p {
	margin-bottom: 15px;
}
input.red {
	background-color: #a80007;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:900;
	text-transform: uppercase;
	font-size: 14px;
	padding: 10px 25px;
	border: none;
	margin-left: 125px;
	margin-top: 15px;
}

a.forgot {
	display: block;
}

h4 {
	color: #000;
	margin-top: 20px;
}

input.red:hover,
a.more-red:hover{
	background-color: #820006;
	color: #fff;
	text-decoration: none;
}

div.buyers-block.span4 {
	background-color: #393942;
	margin: 0;
	padding: 10px;
	height: 238px;
}

div.artist-block.span4 {
	background-color: #a80007;
	margin: 0;
	padding: 10px;
	height: 238px;
}

a.join-btn {
	color: #393942;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	padding: 7px 30px;
	font-size: 14px;
	margin-right: 5px;
	float: right;
	display: block;
	font-family: 'Lato', sans-serif;
	font-weight:900
}

a.join-btn:hover{
	background-color: #DAE0E3;
}

nav ul li:hover{
	background-color: #820006;
}

#main-menu nav.span9 ul {
	margin: 0;
}

nav ul li a{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	line-height: 54px;
	margin-right: 7px;
	margin-left: 7px;
	font-family: 'Lato', sans-serif;
	font-weight:900
}

nav ul li a:hover{
	color: #fff;
	text-decoration: none;
}

#busqueda form input {
	display: inline-block;
	width: 157px;
	height: 23px;
}

#busqueda form {
	margin-top: 10px;
	margin-left: 0;
	margin-bottom: 0;
}

#busqueda form input.enviar-btn {
	border: none;
	background: #ff9e4a url(../img/icon-search.png) no-repeat center center;
	width: 42px;
	overflow: hidden;
	text-indent: 500px;
	vertical-align: top;
	height: 33px;
}

form {
	margin-top: 25px;
}
#cont_contest .form-inline{
	margin-top: 0px;
}

#busqueda form input.enviar-btn:hover{
	background-color: #820006;
}

#main-menu {
	background-color: #000;
	border-top: 4px solid #d90f0d;
}

header {
	padding-right: 5px;
	background-color: #fff;
	width: 960px;
	position: relative;
	right: 10px;
}

div#top-header.row {
	height: 115px;
	border-bottom: 5px solid #38363f;
	margin-left: 0;
}


#top-menu ul li {
	display: inline-block;
	border-right: 1px solid #e1dddd;
	padding-right: 10px;
	padding-left: 10px;
}


#top-menu ul {
	margin: 40px 0 0;
	border-left: 1px solid #e1dddd;

}

#top-menu ul li a{
	color: #5f5f5f;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
}

#user-login ul li {
	display: inline-block;
}

#user-login ul li a{
	color: #2b2c2b;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
}

#user-login ul {
	float: right;
}

div#user-login.span4 {
	float: right;
	margin-top: 10px;
}

h3.sold_mark {
	color: #fff;
	text-align: center;
	background: #a80007 url(/static/img/sold-bag.png) no-repeat 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 21px;
}

a.user-login {
	background: url(../img/icon-login.png) no-repeat left center;
	padding: 5px 5px 5px 32px;

}

a.user-reg {
	background: url(../img/icon-reg.png) no-repeat left center;
	padding: 5px 5px 5px 32px;
}
footer {
		color: #fff;
	position: relative;
	margin-top: 30px;
	background-color: #393942;
	width: 950px;
	left: 5px;
}
footer .row{
	background-color: #393942;
	padding-bottom: 20px;
}
#footer-menu li {
	float: left;
	padding-left: 5px;
	padding-right: 5px;
}

#footer-menu li a {
	padding-right: 5px;
	border-right: 1px solid #fff;
	font-family: 'Lato', sans-serif;

}

#footer-menu {
	width: 400px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#footer-menu li a.last {
	border: none;
}

#copyright p {
	position: absolute;
	right: 15px;
	bottom: 15px;
	margin-bottom: 0;
	font-size: 11px;
}
a.twt-button:hover{
	background-position: 0 bottom;
	text-decoration: none;
}
a.twt-button {
	display: block;
	background: url(../img/twt-folow.png) no-repeat 0 top;
	width: 180px;
	color: #fff;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	text-shadow:  1px 1px 0px #777;
}
footer ul{
	margin-left: 0px;
}
footer li{
	list-style-type: none;
	}
footer li a:hover, footer li a.active {
	color: #fac232;
	text-decoration: none;
}
footer li a{
	font-size: 13px;
	color: #fff;
	font-family: 'Lato', sans-serif;

}

h4.fb {
	background: url(/static/img/title-fb.png) no-repeat;
	height: 31px;
	padding-left: 36px;
}

footer h4 {
	font-size: 14px;
	padding-top: 5px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight:900
}

h4.tweet {
	background: url(/static/img/title-twt.png) no-repeat;
	height: 31px;
	padding-left: 48px;
}

.expedient li {
	list-style-type: none;
}
a.google:hover,
a.twt:hover,
a.fb:hover{
	background-position: 0 bottom;
}
a.fb{
	width: 28px;
	height: 27px;
	float: left;
	background: url(../img/icon-fb.png) 0 top;
	margin-right: 10px;
}
a.twt{
	width: 28px;
	height: 27px;
	float: left;
	background: url(../img/icon-twt.png) 0 top;
	margin-right: 10px;
}

div.project-list.row {
	border: 1px solid #ededed;
	margin-bottom: 15px;
	margin-top: 15px;
	padding: 15px 0px 15px 0px;
	background-color: #fff;
}
a.google{
	width: 28px;
	height: 26px;
	float: left;
	background: url(../img/icon-ggl.png) no-repeat 0 top;
}

#icons {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	width: 106px;
	text-align: center;
}

a.thumb-link {
	width: 90px;
	height: 90px;
	display: inline-block;
	border: 1px solid #e3e3e3;
	vertical-align: top;
	background-color: #fff;
}

div.list-description {
	display: inline-block;
	font-size: 11px;
	line-height: 15px;
	margin-left: 15px;
	width: 269px;
}

div#my_contests.cont_info_profile div.list-description{
	width: 340px;
}



div.list-description h3{
	margin: 0;


}

div.project-thumb-img.span6 {
	margin: 12px 0;
}


table.span12.steings tbody tr {
	border: 1px solid silver;
	text-align: center;
}

table.span12.steings tbody tr td {
	padding-top: 12px;
	padding-bottom: 12px;
}

.span12.setings label.checkbox {
	float: right;
	width: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
}

div.span12.setings {
	margin-bottom: 20px;
}

tr.active {
	background-color: #e9e9e9;
}

div.terms {
	width: 100%;
	float: right;
}
/*****************************************Brief-form************************************/
ul.steps {
	overflow: hidden;
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
}

a.submit {
	float: right;
	padding: 8px 22px;
	color: gray;
	background-color: #e7e7e7;
}

form#step-one.span6 {
	margin-top: 15px;
}

#step3 select,
#step2 select,
#step1 select{
	margin-bottom: 10px;
}

textarea {
	margin-bottom: 10px !important;
}
#step-one select {
	margin-left: 85px;
	margin-bottom: 11px;
}
#step-three h3 span,
#step-two h3 span,
#step-one h3 span {
	font-weight: normal;
	font-style: normal;
	font-size: 13px;
}

a.paypal-button {
	background-color: #e3e3e3;
	color: gray;
	padding: 10px 15px;
	float: left;
	margin-right: 32px;
}

label#left.checkbox.inline {
	float: right;
	width: 210px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#step-two h3,
#step-one h3 {
	line-height: 25px;
}

a.next-step {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: #000;
	padding: 5px 10px;
	float: right;
}
 a.morefiles {
	display: block;
	font-size: 11px;
	color: gray;
}
ul.steps li a {
	color: #000;
	width: 100%;
	display: block;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #ececec;
	border: 1px solid #e3e3e3;
}

ul.steps li.span4 {
	margin-left: 0;
	list-style-type: none;
}
ul.steps a.active {
	background-color: #000;
	color: #fff;
}

#step-three.left {
	float: left;
	width: 340px;
	text-align: right;
}

#step-three label input {
	margin-left: 10px;
}

#step-three label select.span1.inline {
}

#step-three label.inline {
	float: left;
	padding-left: 27px;
}

#step-three div.selectinline {
	float: right;
	width: 203px;
	text-align: left;
}

form#step-three.Right {
	float: right;
	width: 360px;
	text-align: right;
}

div.box {
	border: 1px solid #d1d1d1;
	overflow: hidden;
	padding: 15px;
}
a.cont-shopping5:hover,
a.support-files:hover{
	text-decoration: none;
	background-color: #151517;
	color: #fff;
}
a.support-files {
	display: block;
	text-align: center;
	color: #fff;
	padding-bottom: 12px;
	padding-top: 12px;
	background-color: #38363f;
	font-weight: bold;
	font-size: 17px;

}
input.orange:hover{
	background-color: #820006;
}
input.orange {
	background-color: #a80008;
	color: #fff;
	border: none;
	padding: 8px 15px;
	font-weight: bold;
}

div.cont_desc_cont {
	text-align: center;
}

.span4 span.price {
	font-weight: bold;
}

a.cont-shopping5 {
	display: block;
	text-align: center;
	color: #fff;
	padding-bottom: 12px;
	padding-top: 12px;
	background-color: #ff9000;
	font-weight: bold;
	font-size: 17px;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

a.span2.tab {
	color: gray;
	background-color: silver;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

a.span2.tab.active {
	background-color: gray;
	color: #fff;
}

div.pagination {
	float: right;
}
div.span2.previewimg p{
	margin-bottom: 0;
}
div.span2.previewimg {
	margin-left: 20px;
	margin-right: 32px;
	font-size: 12px;
	color: gray;
}

p.inline {
	float: left;
	margin-bottom: 15px !important;
}
.box a,
.box li,
.box p{
	font-size: 12px
}
.previewimg li{
	border: 1px solid silver;
	height: 136px;
	list-style-type: none;
}
.previewimg li h4.winner{
	color: #fff;
	background-color: orange;
}

a.span2.select {
	background-color: silver;
	color: gray;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.img-project {
	float: left;
	width: 170px;
	height: 135px;
	border: 1px solid silver;
}

div.img-left {
	float: left;
	width: 170px;
	height: 149px;
	border: 1px solid silver;
	margin-right: 15px;
}

div.img-right {
	float: right;
	width: 170px;
	height: 149px;
	border: 1px solid silver;
	margin-left: 15px;
}

div.row.upload {
	margin-top: 15px;
	padding-top: 25px;
	background: url(/static/img/separator-h.png) no-repeat center top;
	overflow: hidden;
}

h1.span12 {
	margin-top: 20px;
	margin-bottom: 20px;
}

div.row.employer-link-row {
		border-bottom: 1px solid silver;
	padding-bottom: 15px;
	margin-bottom: 15px;
	margin-top: 15px;
}

div.span3.employer-link {
	border: 1px dotted #c0c0c0;
	padding: 10px;
}

div.img-employer-thumb {
	display: inline-block;
	width: 50px;
	height: 50px;
	float: left;
	border: 1px solid #c0c0c0;
	margin-right: 10px;
}

div.employer-name {
	float: left;
	font-size: 14px;
	line-height: 56px;
}

a.upload-files {
	color: white;
	background-color: gray;
	display: block;
	font-size: 21px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	padding-left: 25px;
}
.thankyou p,
div.project-desc p{
	color: gray;
	font-size: 13px;
	margin-top: 9px;
}

div.border-top {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px solid silver;
}
div.project-desc span{
	color: #0b8dce;
	font-size: 12px;
}

div.project-desc {
	float: right;
	width: 325px;
	margin-right: 15px;
}

a.download-files {
	border: none;
	color: #fff;
	font-weight: bold;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	font-size: 24px;
	text-align: left;
	width: 220px;
	text-indent: 14px;
	background: #a80008 url(../img/download-icono.png) no-repeat 91% center;
	margin-bottom: 12px;
}
a.download-files:hover{
	text-decoration: none;
	background-color: #820006;
}

a.pay-now{
	border: none;
	color: #fff;
	font-weight: bold;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	font-size: 24px;
	text-align: left;
	width: 220px;
	text-indent: 14px;
	background: #a1bd59 url(../img/icon-paynow.png) no-repeat 91% center;
	margin-bottom: 12px;
}
a.pay-now:hover{
	text-decoration: none;
	background-color: #8ea54d;
}

a.cont-shopping {
	float: right;
	width: 210px;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}
a.back-home {
	float: right;
	width: 210px;
	text-align: center;
	color: #fff;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 10px;
}

a.finalize-approve {
		text-align: center;
	color: gray;
	background-color: silver;
	margin-left: auto;
	padding: 10px 13px;
	float: right;
}
asaide ul{
	padding-left: 20px;
}

div.details {
	float: left;
}

div.download-prod {
	float: right;
	margin-top: 15px;
}

div.previewimage {
	width: 85px;
	height: 65px;
	float: left;
	border: 1px solid silver;
	margin-right: 15px;
}


p {
	font-size: 13px;
	text-align: justify;
	font-family: 'Lato', sans-serif;
	padding-right: 5px;
}
div.listing ul{
	padding-left: 0;
}
div.listing li a{
	font-size: 13px;
	color: #333;
	display: block;
}

div.listing li a:hover{
	background-color: #ebebeb;
	text-decoration: none !important;
	color: #000;
}

a.submissions.item_menu.active_link {
		background: #a80007 url(../img/icon-submission.png) no-repeat 10px -23px;

}
li a.purchased.item_menu.active_link{
	background: #a80007 url(../img/icon-purchasedimg.png) no-repeat 10px -22px;
}
li a.store.item_menu.active_link{
		background: #a80007 url(../img/icon-mystore.png) no-repeat 10px -23px;
}
li a.notifications.item_menu.active_link {
	background: #a80007 url(/static/img/icon-notification.png) no-repeat 10px -19px;
}
div.listing .active_link{
	text-decoration: none !important;
	color: #FFF !important;
	background-color: #a80007;
}

	}

div.listing .active_link:hover{
	background-color: #a80008;
}
div.listing li{
	list-style-type: none;
}

#edit_profile {
	background: url(../img/icon-editprofile.jpg) no-repeat right center;
	overflow: hidden;
	display: block;
	font-size: 11px;
	color: #a4a4a4;
	padding-top: 2px;
	padding-bottom: 2px;
	float: right;
	padding-right: 19px;
	width: 0;
	text-indent: 500px;
}

#my_notifications img.no_image_notification {
	width: 50px;
	height: 50px;
	border: 1px solid #d7d7d7;
	float: right;
	margin-left: 30px;
}

#my_notifications img.img_sender_otros {
	width: 50px;
	height: 50px;
	float: right;
	margin-left: 30px;
}

#my_notifications img.img_sender_perfil {
	float: left;
	margin-right: 20px;
	border: 1px solid #d7d7d7;

}

#feedback_box img.no_image_notification {
	width: 50px;
	height: 50px;
	border: 1px solid #d7d7d7;
	float: left;
	margin-right: 20px;
}

#feedback_box div {
	display: block;
	min-height: 20px;
	border-bottom: 1px dotted #dedede;
	padding: 20px 30px;
}

#feedback_box img.img_sender_otros {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 20px;
}

span.feedback_username {
	font-weight: bold;
	font-size: 16px;
	color: #000;
	display: block;
}

#feedback_box img.img_sender_perfil {
	float: right;
	border: 1px solid #d7d7d7;
	margin-left: 20px;
}

#edit_profile:hover{
	width: 20px;
	text-indent: 0px;
	text-decoration: none;
	color: #a80008;
}



#my_notifications  a.not_delete {
	background: url(../img/icon-noti-delete.png) no-repeat right 0;
	font-weight: bold;
	font-size: 12px;
	color: #a30100;
	padding-right: 20px;
}

#my_notifications  a.not_reply {
	background: url(../img/icon-noti-reply.png) no-repeat right center;
	padding-right: 45px;
	font-weight: bold;
	font-size: 12px;
	color: #383941;
	display: inline-block;
	float: left;
	margin-right: 20px;
}


asaide li{
	font-size: 12px;
	margin-bottom: 5px;
}
/*****************************************User profile css*************************************************/
div.image-user {
	float: left;
	margin-right: 10px;
}

div.user-text {
	float: left;
	margin-top: 15px;
	margin-bottom: 12px;
}

div.span3.user {
	border: 1px solid #e3e3e3;
	padding: 0;
	background-color: #fff;

}

a.contact {
	background: url(../img/icon-mail.png) no-repeat;
	padding-left: 35px;
	font-size: 12px;
	color: #38363f;
}
div.row.steps-str h4 span{
	display: block;
	background-color: #c1c1c1;
	height: 40px;
	border: 1px solid #b2b2b2;
	border-right: none;
	color: #727272;
	padding-left: 30px;
}

div.row.steps-str div.span4 {
	margin-left: -22px;
	position: relative;
	width: 325px;
	left: 36px;
}

div.span6.add-contest {
	margin-bottom: 15px;
	margin-top: 15px;
}
a.edit_contest:hover{
	background-color: #000;
	text-decoration:none;
}
a.edit_contest {
	background: #393942 url(/static/img/icon-edit.png) no-repeat 9px center;
	padding: 10px 20px 10px 40px;
	color: #fff;
	margin-top: 15px;
	float: left;
}

div.span4.step1 {
	position: relative;
	z-index: 3;
}

div.span4.step2 {
	z-index: 2;
}
div.row.steps-str h4{
	margin-bottom: 0;
	display: block;
	background: url(/static/img/steps-stores.png) no-repeat right bottom;
	height: 40px;
	margin-top: 15px;
	line-height: 38px;
	padding-right: 21px;
	text-align: center;

}

a.view-project {
	background: url(/static/img/icon-view.png) no-repeat;
	
	font-weight: bold;
	color: #000;
	padding-left: 35px;
	padding-top: 2px;
	height: 21px;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

a.not_view-project {
	background: url(../img/icon-view.png) no-repeat;
	font-weight: bold;
	color: #383941;
	padding-left: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	margin-left: 15px;
}

div.user-info {
	margin-bottom: 10px;
	border-bottom: 1px dotted #ececec;
	overflow: hidden;
	padding: 10px;
}



div.items {
background: url(/static/img/separator-h.png) no-repeat center bottom;

	padding-bottom: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}

div.items.first {
	padding-top: 10px;
	
}
div.span3.user h4{
	margin-top: 0;
	margin-bottom: 0;
}
li a.submissions {
	background: url(../img/icon-submission.png) no-repeat 10px 4px;
	padding-left: 45px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

ul#profile_menu {
	margin-left: 0;
}

li.active {

	padding-left: 0;
}

li a.notifications {
	background: url(../img/icon-notification.png) no-repeat 10px 7px;
	padding-left: 45px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

li a.store.item_menu {
	background: url(../img/icon-mystore.png) no-repeat 10px 6px;
	padding-left: 45px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-left: 0;
}

li a.store {
	background: url(../img/icon-store.png) no-repeat left;
	padding-left: 20px;
	margin-left: 10px;
}

li a.purchased {
	background: url(../img/icon-purchasedimg.png) no-repeat 10px 5px;
	padding-left: 45px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
}

div.project-list.mini h3 {
       margin-top: 0;
       height: 15px;
       margin-bottom: 0;
       line-height: 14px;
}

div.project-list.mini div.list-description {
       width: 320px;
}

div.tools.span7 {
	float: right;
	margin-bottom: 15px;
}
div.storeimg.mini div{
	border: 1px solid silver;
	width: 125px;
	height: 100px;
	text-align: center;
	margin-bottom: 10px;
}
div.tool.span2 a{
	color: gray;
	font-size: 13px;
}
div.tool.span2 {
	text-align: center;
	background-color: #ebebeb;
	padding-top: 5px;
	padding-bottom: 5px;
}

div.row.line {
	margin-left: 0;
	border-bottom: 1px solid silver;
}

div.row.line.unread {
	background-color: #ebebeb;
}
div.storeimg.mini {
	width: 125px;
	float: left;
	font-size: 13px;
	margin-right: 25px;
	margin-bottom: 15px;
}

div.time-left.span2 {
       float: left;
}

div.cont_info_profile.project-list {
	display: block;
	height: 140px;
	background: url(/static/img/separator-h.png) no-repeat center bottom;
	padding-top: 10px;
	padding-bottom: 10px;
}



#my_contests div.cont_info_profile div.time-left.span2 {
	margin-top: 20px;
}

div.row.store-products {
	margin-top: 25px;
	margin-bottom: 25px;
}

a.store-thumb {
	display: block;
	border: 1px solid #e4e4e4;
	height: 120px;
}



div.project-list.mini {
       padding: 10px;
       overflow: hidden;
       height: 101px;
       margin-bottom: 15px;
       border: 1px solid silver;
}

div.span6.image-preview {
	border: 1px solid #e5e5e5;
	height: 320px;
}

div.span3.login-image {
	border: 1px solid #e5e5e5;
	height: 200px;
}

div#all_contest h3{
	padding: 0px 0px 0px 15px;
	margin-top: 0;
	background-color: #37353e;
	color: #fff;
	line-height: 34px;
	margin-bottom: 20px;
}

body {
	background: url(/static/img/background.png) repeat;
}
a.buyer {

       display: block;
       background: #38363f url(/static/img/icon-buyers.png) no-repeat 15px center;
       color: #fff;
       font-size: 20px;
       margin: 45px auto;
       font-family: 'Lato', sans-serif;
       font-weight:900;
       width: 265px;
       height: 45px;
       padding: 10px 15px 10px 10px;
       text-align: center;
}
form ul li label input{
	margin-top: -5px !important;
}
form ul li label{
	font-weight: bold;
}
form ul li {
	list-style-type: none;
}

input.yellow {
	 color: #fff;
	 border: none;
	background-color: #a80007;
	padding: 8px 14px;
	font-weight: bold;
	margin-left: 163px;
}

div.span6.register {
       border-right: 1px dashed #cfcfcf;
       width: 459px;
       margin-bottom: 15px;
}
a.Artist span,
a.buyer span{
       font-weight: normal;
       font-style: normal;
       font-size: 14px;
}

a.Artist {
       display: block;
       background: #a80007 url(/static/img/icon-artist.png) no-repeat 15px center;
       color: #fff;
       font-size: 20px;
       margin: 45px auto;
       font-family: 'Lato', sans-serif;
       font-weight:900;
       width: 265px;
       height: 45px;
       padding: 10px 15px 10px 10px;
       text-align: center;

}

a.feedback {
	background: url(../img/icon-feedback.png) no-repeat 0 center;
	overflow: hidden;
	padding-left: 25px;
	color: #3f3f3f;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
	font-size: 10px;
	font-weight: bold;
}
span.number{
	background: url(../img/hash2.png) no-repeat 0 center;
	font-weight: bold;
	font-size: 18px;
	line-height: 11px;
	padding: 5px 5px 5px 25px;
}
p.number {
	background: url(../img/hash2.png) no-repeat 0 center;
	overflow: hidden;
	padding-left: 25px;
	color: #3f3f3f;
	display: block;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 0;
	margin-left: 1px;
	float: right;
}

p.margintop {
	margin-top: 10px;
}

p.margintop  #span_description {
	font-weight: bold;
}





div.username-number {
	overflow: hidden;
	margin-bottom: 5px;
}

a.winner {
		overflow: hidden;
	padding-left: 25px;
	color: #3f3f3f;
	padding-top: 4px;
	padding-bottom: 4px;
	background: url(../img/icono-select-winner.png) no-repeat 0 center;
	display: block;
	font-size: 10px;
	font-weight: bold;
}
a.username-link{
	color: #1b94d0;
	font-weight: normal;
	font-size: 15px;
	display: block;
	margin-bottom: 0;
	font-style: normal;
	text-align: center;
	float: left;
}
span.producto-title {
	color: #a80007;
	font-weight: bold;
	font-size: 15px;
	display: block;
	margin-bottom: 5px;
}

a.Artist:hover{
       text-decoration: none;
       background-color: #820006;
}
a.buyer:hover{
       text-decoration:none;
       background-color: #1a1a1d;
}

input.upload-files {
	border: none;
	color: #fff;
	font-weight: bold;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	font-size: 24px;
	text-align: left;
	width: 220px;
	text-indent: 14px;
	background: #a80008 url(../img/upload-icono.png) no-repeat 91% center;
}
input.upload-files:hover{
	background-color: #820006;
}

div.project-thumb-img {
	overflow: hidden;
	margin-bottom: 20px;
}

a#btn_discard {
	background: #38363f url(../img/icono-discard.png) no-repeat 15px center;
	display: block;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-indent: 55px;
	font-size: 14px;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

a#btn_discard:hover{
	background-color: #1a1a1d;
	text-decoration: none;
}
a#btn_feedback {
	background: #a80008 url(../img/icon-show-feedback.png) no-repeat 15px center;
	display: block;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	text-indent: 55px;
	font-size: 14px;
	line-height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}
a#btn_feedback:hover{
	text-decoration: none;
	background-color: #820006;
}

h3 .label{
	font-size: 2em!important;
}

#expedient_items img{
	display: inline-block;
	vertical-align: top;
	margin: 4px 2px;
}

div.time-left.span3 {
	text-align: center;
}

#all_contest div.project-list div.budget.span2 {
	text-align: center;
        color: #a1bd59;
}

#all_contest div.project-list div.span2 {
	text-align: center;
	margin-left: 10px;
}

div#logo.span3 {
	margin-top: 10px;
	margin-right: 0;
}

div#top-menu.span5 {
	margin-top: 6px;
}

div#shadow.container {
 -moz-box-shadow: 0px 0px 60px #000000;
    -webkit-box-shadow: 0px 0px 60px #000000;
    box-shadow: 0px 0px 60px #000000;
	padding-left: 15px;
	padding-right: 15px;
}

#form_div{
	display: none;
}
.srcimg{
	display: none;
}

#expedient_items div.cont_thumb a img.imgThumb {
		cursor:pointer;	
}
.cont_thumb{
	display: inline-block;
}
.imgThumb{
	cursor: move;
}
.title_price{
	color:#a1bd59;
}
#id_cost_custom{
	width:100px;
}

ul.errorlist {
	color: #a80007;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
}
.form_reply{
	display: none;
}
.project-thumb-img .span2{
	margin-left: 12px;
	margin-bottom: 12px;
}

.ic_container{
    vertical-align:baseline;
    position:relative;
 }
.overlay{
    opacity:0.5;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.ic_caption{
    position:absolute;    
    opacity:0.6;   
    overflow:hidden;
    margin:0px;
    padding:0px;
    left:0px;
    right:0px;
    cursor:default;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
.ic_category{
    text-transform:uppercase;
    font-size:9px;
    letter-spacing:0px;
    padding:5px;
    margin:0px;
}
.ic_caption h5{
    padding:0px 3px 3px 3px;
    margin:0px;
    font-size:10px;
    line-height: 10px;
}
.ic_text{
    padding:2px;
    margin:0px;
    text-align:left;
    font-size:8px;
}

div.wrapper_thumb{
	position:relative; 
	overflow: hidden;
}
div.description_thumb{
	position:absolute; 
	bottom:0px; 
	/*left:100px;*/
	top:75px;
	display:none; 
	background-color:black;
	color:white;
}
div.description_content_thumb{
	padding:3px;
	line-height: 15px;
}
div.description_content_thumb p{
	font-size: 9px;
	font-weight: normal;
	opacity: 1;
	text-align: left;
}
div.description_content_thumb span.cat{
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 2px;
	color:#fafafa;
	margin-bottom: 4px;
	opacity: 1;

}
div.description_content_thumb span.title{
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	color:#fafafa;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 4px;
	opacity: 1;
}
.lib_acept,.download-prod h5{
	font-size: 10px;
}

ul.tabs { margin: 0; padding: 0; float: left; list-style: none; height: 32px; border-bottom: 1px solid #999; border-left: 1px solid #999; width: 100%; } ul.tabs li { float: left; margin: 0; padding: 0; height: 31px; line-height: 31px; border: 1px solid #999; border-left: none; margin-bottom: -1px; overflow: hidden; position: relative; background: #e0e0e0; } ul.tabs li a { text-decoration: none; color: #000; display: block; font-size: 1.2em; padding: 0 20px; border: 1px solid #fff; outline: none; } ul.tabs li a:hover { background: #ccc; } html ul.tabs li.active, html ul.tabs li.active a:hover { background: #fff; border-bottom: 1px solid #fff; }
.tab_container { border: 1px solid #999; border-top: none; overflow: hidden; clear: both; float: left; width: 100%; background: #fff; } .tab_content { padding: 20px; font-size: 1.2em; }
