{% extends "bases/main_base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
	<h3 class="span12">ACCOUNT REGISTRATION</h3>
	<div class="span6 register">
			<a href="#" class="Artist">Artists<br /><span>Create account</span></a>			


		</div>
		<div class="span6">
			<a href="#" class="buyer">Buyers<br /><span>Create account</span></a>
			
		</div>
	</div>
	<div class="row">
		<div class="form-form">
		<div class="span12">
			{# Contenido #}
			{% if has_account %}
				<h2>You are registered</h2>
			{% else %}
				<form action="." method="POST">
					{% csrf_token %}
					{{ msg }}
					{{ form.as_p }}
					<input class="yellow" type="submit" value="SAVE">
				</form>
			{% endif %}
		</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer_extrajs%}
<script type="text/javascript">
$(document).ready(function(){
	$("#id_user_type").val("2");
});
</script>


{% endblock %}
