{% extends 'bases/main_base.html' %}

{% block title %} New Proposal {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		{% if message %}
			<h5>{{message}}</h5>
		{% else %}
			<form id="frmFeedBack" method='post' action="." class="form-horizontal" >
				{% csrf_token %}
				{{frmFeedBack.as_p}}
				<p>
					<input class='upload-files' type="submit" value="Send Feedback" >
				</p>
			</form>
		{% endif %}
       		
    </div><!--end row-->
</div><!--End Container-->

{% endblock content %}

{% block footer_extrajs %}


	<script type="text/javascript">
	$(document).on("ready",function(e){
		$("#id_message").focus();
	});
	</script>	

	
{% endblock footer_extrajs %}