{% extends 'bases/main_base.html' %}

{% block title %} Contact Form {% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        	<!--  Project Full Details  -->
              <div class="span12"><h3>Thank you {{user.First_Name}} for your Purchase!</h3></div>
               <div class="row border-top">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed lectus libero, sed pharetra metus. Morbi quis condimentum dui. Ut id nisi sapien. Quisque sit amet posuere nibh. Aliquam sed neque a diam dictum egestas semper sit amet magna.
                    </p>
                    <h2>{{item.title}}</h2>
                    <p>Price: ${{item.price|floatformat:2}}</p>
                    {{form}}
                </div>
                <div class="row">
	                <div class="span6">                  
	                   <a class="cont-shopping" href="{% url store_view %}">Continue Shopping</a>
	                </div> 
            	</div>
    </div>
</div>
{% endblock content %}