{% extends 'bases/main_base.html' %}

{% block title %}Select a category for your contest{% endblock %}

{% block content %}
<div class="container">
	<div id="cont_breadcrumb" class="row">
        <div class="span12">
            <ul class="breadcrumb">
              <li><a href=" {% url main_view %} ">Home</a> <span class="divider">|</span></li>
              <li >Select Category<span class="divider">|</span></li>
              <li class="active" >Create Contest<span class="divider">|</span></li>
              <li class="active" >Payment</li>
            </ul>
        </div>
    </div>
	<div class="row">
		{% for c in cats  %}
			<div class="span4">
				<div class='cont_desc_cont' >
					<h3>{{c.name}}</h3>
					<p>
						{% autoescape off %}
							{{c.description|truncatewords_html:25|capfirst}}
							<a catTitle="{{c.name}}" idCat="{{ c.id }}" class="read_more_btn"  href="#">read more</a>
						{% endautoescape %}
					</p>
					<form action="{% url set_category_contest_view %}" method="POST" name="" >
						{% csrf_token %}
						<input type="hidden" value="{{c.id}}" name="id_cat">
						<input type="submit" class="orange" value="Select this category">
					</form>
				</div>
			</div>
		{% endfor %}
    </div>
</div><!--End Container-->




<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
<!-- / Modal -->

{% endblock content %}

{% block footer_extrajs %}
	<script type="text/javascript">
		$(document).on("ready",function(e){
			$(".read_more_btn").on("click",function(e){
				e.preventDefault();
				var idCat 	= $(this).attr("idCat");
				var nameCat = $(this).attr("catTitle");
				var csrf = "{{ csrf_token }}";

				$("#myModalLabel").text(nameCat);
				$(".modal-body").load("/contest.new/",{'idcat':idCat,'csrfmiddlewaretoken':csrf });
				$("#myModal").modal('show');
			});
		});
	</script>
{% endblock footer_extrajs %}